@model YeniShoppingProject.Models.Mallar

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Shopi/Views/Shared/_adminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Mallar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand.brand_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.brand_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.category_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.category_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.product_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
